/* .login-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  color: white;
}
h2 {
  text-align: center;
  margin-bottom: 1em;
}
.form-container {
  width: 20em;
  height: 20em;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1.5em;
  box-shadow: 0px 0px 5px white;
}
#login-form {
  width: 80%;
}
.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  height: 3em;
  margin-bottom: 1em;
  color: white;
  font-size: medium;
  margin-left: 1em;
}
label {
  font-size: larger;
}
 button {
  width: 50%;
  height: 2em;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-top: 1em;
  cursor: pointer;
}  */
/* --------------------------------------- */

