<!-- <div class="container">
  <div class="inner">
    <h1>Log In</h1>
    <form #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="loginData.value.email"  required />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type={{type}} id="password" name="password" [(ngModel)]="loginData.value.password" required />
       
      </div>
      <input type="checkbox" (click)="showPassowrd()" class="eye"  style="width: 10px;height: 10px;"/>&nbsp;&nbsp;<span style="font-size: 10px;">Show password.</span><br>
      <div class="form-group button-group flex">
        <button type="submit" (click)="navigate()">Login</button>
        <button (click)="clearForm()" >Clear</button>
      </div>
    </form>
  </div>
</div> -->
<div fxLayout="column" fxLayoutAlign="center center" fxFill="80">
  <div class="login-container">
    <mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="center center">
      <span>Login</span>
    </mat-toolbar>
    <mat-card>
      <form fxLayout="column" fxLayoutGap="5">

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" />
        </mat-form-field>
        <div fxFill fxLayoutAlign="space-around center" fxLayout.xs="column">
          <button color="primary" mat-button button-primary>Login</button>
          <button color="primary" mat-button>Clear</button>
        </div>

      </form>
    </mat-card>
  </div>
</div>