<div fxFill fxLayoutAlign="center center" >
  <app-loader *ngIf="isLoader"></app-loader>
  <div  fxFlex="30" fxFlex.lt-md="80" >
    <div class="login-container">
      <mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="center center">
        <span>Login</span>
      </mat-toolbar>
      <mat-card>
        <form fxLayout="column" fxLayoutGap="3" [formGroup]="signInForm" (ngSubmit)="onFormSubmit(signInForm.value)">
          <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
            <mat-error class="error">{{
            this.signInForm?.get('email')?.hasError('required')?'Email Is Required':
            this.signInForm?.get('email')?.hasError('email') ? 'Not a valid email' : ''
            }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="!isToggled ? 'password':'text'" formControlName="password" required />
            <mat-icon matSuffix *ngIf="!isToggled" (click)="isToggled=!isToggled"
              style="margin-bottom: 3px;opacity: 0.6;">visibility_on</mat-icon>
            <mat-icon matSuffix *ngIf="isToggled" (click)="isToggled=!isToggled"
              style="margin-bottom: 3px;opacity: 0.6;">visibility_off</mat-icon>
              <mat-error class="error" >{{checkPassword()}}</mat-error>
              <!-- <mat-error class="error" *ngIf="password.hasError('minlength')">Password must be at least 8 characters
                long!</mat-error>
              <mat-error class="error" *ngIf="password.hasError('pattern')">
                Password must contain at least one lowercase, one uppercase, and one special character!
              </mat-error> -->
          </mat-form-field>
          <br>
          <div fxFill fxLayoutAlign="space-around center">
            <button color="primary" mat-raised-button type="submit">Login</button>
            <button color="primary" mat-raised-button (click)="signInForm.reset()">Clear</button>
          </div>
          <div fxFill="80" fxLayout="column wrap" fxLayoutGap="0" fxLayoutAlign="start start">
            <h5>Not a User ?<a mat-button color="primary" (click)="navigate('/register')"> sign Up</a>here</h5>
            <h5><a mat-button color="primary">Forgot password?</a></h5>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>