<app-loader *ngIf="isLoader"></app-loader>
<div fxFill fxLayoutAlign="center center">
  <div fxFlex="35" fxFlex.lt-md="80">
    <div class="register-container">
      <mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="center center">
        <span>Register</span>
      </mat-toolbar>
      <mat-card>
        <form fxLayout="column" fxLayoutGap="3" [formGroup]="signUpForm" (ngSubmit)="OnFormSubmit(signUpForm.value)">
          <h5 style="text-align: center;color: red;">{{error_message}}</h5>
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput formControlName="userName" required />
            <mat-error class="error" *ngIf="signUpForm?.get('userName')?.hasError('required')">User Name is Required
              !</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
            <mat-error class="error"><mat-error class="error">{{ signUpForm?.get('email')?.hasError('required') ? 'Email
                is required' :signUpForm?.get('email')?.hasError('email') ? 'Not a valid email' : ''
                }}</mat-error></mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="!isToggled? 'password':'text'" formControlName="password" required />
            <mat-icon matSuffix *ngIf="!isToggled" (click)="isToggled=!isToggled"
              style="margin-bottom: 3px;opacity: 0.6;">visibility_on</mat-icon>
            <mat-icon matSuffix *ngIf="isToggled" (click)="isToggled=!isToggled"
              style="margin-bottom: 3px;opacity: 0.6;">visibility_off</mat-icon>
            <mat-error class="error">{{ checkPassword() }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Repeat Password</mat-label>
            <input matInput [type]="!isToggled? 'password':'text'" formControlName="RePassword" />
            <mat-error class="error">
              {{ signUpForm?.get('RePassword')?.hasError('required') ? 'RePassword
              is required' :''}}
            </mat-error>
          </mat-form-field>
          <small class="error"
            *ngIf="!signUpForm?.get('RePassword')?.hasError('required')">{{signUpForm?.get('RePassword')?.value !==
            signUpForm?.get('password')?.value?'Password mismatch !':''}}</small>
          <div fxFill fxLayoutAlign="space-around center">
            <button color="primary" mat-raised-button type="submit">Register</button>
            <button color="primary" mat-raised-button (click)="signUpForm.reset();">Clear</button>
          </div>
          <div fxFill="80" fxLayout="column wrap" fxLayoutGap="0" fxLayoutAlign="start start">
            <h5>Already a User ?<a mat-button color="primary" (click)="navigate('/login')">Log in</a>here</h5>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>