nav {
  background-color: #282828;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.left {
  flex: 1;
}

.left h1 {
  margin: 0;
}

.right {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right li {
  display: inline;
  margin-right: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #fff;
}
