<div [ngStyle]="{ position: 'sticky', top: '0' ,'z-index':'1000'}">
  <mat-toolbar color="primary">
    <div fxLayout="row" fxFill fxLayoutAlign="space-between center">
      <span>
        Memora
      </span>
      <div fxLayout="row" fxFlex="40" fxLayoutAlign="space-around center" fxHide.lt-md>
        <a mat-button routerLink="/"><mat-icon>home</mat-icon>Home</a>
        <a mat-button routerLink="/gallery"><mat-icon>image</mat-icon>Gallery</a>
        <a mat-button routerLink="/profile"><mat-icon>account_circle</mat-icon>Profile</a>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/logout" (click)="logOut()">Logout</a>
        <a mat-raised-button color="accent" routerLink="/register">Sign Up</a>
      </div>
      <div fxHide.gt-sm>
        <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon" (click)="toggleMenu()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <div *ngIf="isOpen">
    <mat-sidenav-container fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="100%">
      <mat-list fxFill>
        <mat-list-item routerLink="/" >
          <!-- <mat-icon>home</mat-icon> -->
          <span>Home</span>
        </mat-list-item>
        <mat-list-item routerLink="/gallery">
          <!-- <mat-icon>image</mat-icon> -->
          <span>Gallery</span>
        </mat-list-item>
        <mat-list-item routerLink="/profile">
          <!-- <mat-icon>account_circle</mat-icon> -->
          <span>Profile</span>
        </mat-list-item>
        <mat-list-item routerLink="/login">
          <span>Login</span>
        </mat-list-item>
        <mat-list-item routerLink="/logout" (click)="logOut()">
          <span>Logout</span>
        </mat-list-item>
        <mat-list-item routerLink="/register">
          <span>Sign Up</span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav-container>
  </div>