.user-card {
    width: 150px;
    height:200px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    color:white;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
}

.user-name {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.user-email {
    font-size: 0.8rem;
}