<div style="width: 100%;height: auto;overflow-y: scroll;">
    <app-navbar></app-navbar>
    <div fxLayout="row" fxLayout.lt-md="column" flexLayoutGap="5px" fxFill style="padding: 10px;">
        <mat-card fxFlex="100%">
            <mat-toolbar fxLayout="row" fxLayoutAlign.sm="space-between"  color="primary">
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="95%" fxFlex.sm="85%">
                    <mat-icon>perm_identity</mat-icon> &nbsp;
                    <span>Your Profile</span>
                </div>
                <div fxFlex="5%" fxFlex.sm="15%"  fxLayoutAlign="center center" style="margin-top:10px ;">
                        <a   routerLink="/edit-profile" style="color:white;" >
                            <mat-icon style="cursor: pointer;" matTooltip="Edit Profile">edit</mat-icon>
                        </a>
                </div>
            </mat-toolbar>
            <mat-card-header class="header-container">
                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%" fxLayoutGap.lt-lg="20px"  >
                    <!-- [ngStyle.gt-md]="{'background-image':'url(https://user-images.githubusercontent.com/300046/43407734-bd6303fe-93dc-11e8-87df-302ddbc274ff.jpg)'}" -->
                    <div fxLayout="row" fxFlex.lt-lg="30%" fxFlex.lg="45%" fxLayoutAlign="center center"   class="background-image">
                        <img src="https://wallpapers.com/images/hd/albert-einstein-pictures-3185-x-3120-m1xto7x0i9py34b2.jpg"
                            mat-card-md-image
                            style="border:4px solid var(--primary-color);object-fit: cover;border-radius: 50%;padding: 3px;" [ngStyle.lt-md]="{'padding': '3px'}">
                    </div>
                    <div fxFlex.lt-lg="70%" fxFlex.lg="55" >
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex.lt-md="45%" fxFlex.gt-md="25%" style="text-align: center;">
                                <h3 class="title">Photos</h3>
                                <h2>200</h2>
                            </div>
                            <div fxFlex.lt-md="45%" fxFlex.gt-md="25%" fxHide.lt-md style="text-align: center;">
                                <h3 class="title">Liked Photos</h3>
                                <h2>25</h2>
                            </div>
                            <div fxFlex.gt-md="25%" fxHide.lt-md style="text-align: center;">
                                <h3 class="title">Since</h3>
                                <h2>1997</h2>
                            </div>
                            <div fxFlex.gt-md="25%" fxHide.lt-md style="text-align: center;">
                                <h3 class="title">Albums</h3>
                                <h2>5</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <br>
            <mat-card-content fxLayout.lg="row" fxFlex="100%" fxLayoutGap.lg="30px" fxLayoutGap.lt-md="15px"
                fxLayout.sm="column">
                <div fxFlex.lg="35%" class="bio-container">
                    <br fxHide.lt-md>
                    <h3 style="font-size:xx-large;">Albert_Einstein_007</h3>
                    <h5>Life is like riding a bicycle. To keep your balance, you must keep moving.</h5>
                    <div class="bio-details">
                        <p style="color: red;">first cry 24/02/2002 .</p>
                        <p>Kabaddi lover</p>
                        <p>Committed !</p>
                        <p>Software Dev</p>
                        <p>www.google.com</p>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-card-actions style="margin-left: 5px;">
                        <button mat-button>
                            <i class="bi bi-whatsapp"></i>
                        </button>
                        <button mat-button>
                            <i class="bi bi-instagram"></i>
                        </button>
                        <button mat-button>
                            <i class="bi bi-snapchat"></i>
                        </button>
                        <button mat-button>
                            <i class="bi bi-facebook"></i>
                        </button>
                        <button mat-button>
                            <i class="bi bi-telegram"></i>
                        </button>
                    </mat-card-actions>
                </div>
                <div fxFlex.lg="65%" >
                    <mat-tab-group >
                        <mat-tab   style="overflow-y: scroll;">
                            <ng-template mat-tab-label>
                                <mat-icon matTooltip="Favorites">favorite</mat-icon>
                            </ng-template>
                            <div fxLayout="row wrap" fxLayoutGap="10px" style="padding: 10px;" [ngStyle.lt-md]="{'height':'280px'}" [ngStyle.gt-md]="{'height':'400px'}" >
                                <div *ngFor="let image of favorites" class="image-container" fxFlex.gt-sm="32%" [ngStyle.lt-md]="{'height':'80px'}">
                                    <img [src]="image" style="width: 100%;height: 100%; object-fit: cover;">
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab > 
                            <ng-template mat-tab-label>
                                <mat-icon matTooltip="Recently Added">new_releases</mat-icon>
                            </ng-template>
                            <div fxLayout="row wrap" fxLayoutGap="10px" style="padding: 10px;" [ngStyle.lt-md]="{'height':'280px'}"
                                [ngStyle.gt-md]="{'height':'400px'}">
                                <div *ngFor="let image of favorites" class="image-container" fxFlex.gt-sm="32%" [ngStyle.lt-md]="{'height':'80px'}">
                                    <img [src]="image" style="width: 100%;height: 100%; object-fit: cover;">
                                </div>
                            </div>
                           
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>