@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');

.header-container {
    padding: 15px;
}
.background-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 10px;
}
.bio-container h3 {
    color: var(--primary-color);
    font-family: 'Dancing+Script';

}
.bio-container h5 {
    font-family: 'Caveat';
    font-size: large;
    font-weight: bold;
}
.bio-details p {
    color: black !important;
    letter-spacing: 2px !important;
    font-family: 'Dancing+Script';
}
.image-container{
    width:30%;
    height:150px;
    margin-top: 10px;
}
h3{
    font-size: x-large;
    color: var(--primary-color) !important;
}

